
.avatar{
    height:50px;
    width:50px;
    background-color:grey;
    padding:2px;
    border-radius:50%;
    text-align:center;
}
.post{
    width:550px;
    margin:30px 40px 50px 40px;
}
.post-header{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    margin-bottom:10px;
} 
.loadmore{
    cursor:pointer;
}
.post-headerauthor{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-weight:bolder;
    gap:10px;
}
.post-headerauthor span{
    color:grey;
    font-size:15px;
}
.post-image img{
 width:100%;
 border-radius:6px;
 border:0.6px solid rgba(120,120,128,0.516);
}
.post-footer{

}
.post-footericons{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.postIcon{
    padding:7px;
    font-size:30px;
}

.postIcon:hover{
    cursor:pointer;
}

